
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Opportunities</title>
</head>

<body>
    <div>
        <p>
            Hello. This is the Opportunities page, where you can view opportunities. 
            <ul>
                <li>
                    View opportunities by: locations' or opportunities' names?
                </li>
                <li>
                    Click "Edit" button to Edit the Opportunity.
                </li>
                <li>
                    Need to get stuff from database? Nothing to view rn; do "edit opportunity" page first.
                </li>
            </ul>
        </p>
    </div>

    <div>
       
        <p>
            
            <table>

                <tr>
                    <td>This is an example 1 Opportunity.</td>
                    <td><button type="submit">Edit</button></td>
                </tr>

                <tr>
                    <td>This is an example 2 Opportunity.</td>
                    <td><a asp-action="EditForm">Edit supposed to be a button lol</a></td>
                </tr>
            </table>

        </p>
    </div>
</body>
</html>
