@{
    ViewBag.Title = "Home Page";
}

<p>
    @Html.ActionLink("Create Volunteer", "Create", "Volunteers")
</p>

<p>
    @Html.ActionLink("View Volunteers", "Index", "Volunteers")
</p>
<p>
    @Html.ActionLink("Create Opportunity", "Create", "Opportunities")
</p>

<p>
    @Html.ActionLink("View Opportunities", "Index", "Opportunities")
</p>