@{
    ViewBag.Title = "Home Page";
}
<style>
    a.my-class{
        color:white !important;
    }
    a.my-class:hover{
        text-decoration:none;
    }
</style>

<div class="jumbotron">
    <h2 style="margin-bottom:40px;">Welcome to Volunteer Application</h2>
    <div class="row">
        <!--<div class="col-lg-2">
            <button class="btn btn-primary">
                @Html.ActionLink("Create Volunteer", "Create", "Volunteers", new { @class = "my-class" })
            </button>
        </div>-->
        <div class="col-lg-2">
            <button class="btn btn-primary">
                @Html.ActionLink("View Volunteers", "Index", "Volunteers", new { area = "" }, new { @class = "my-class" })
            </button>
        </div>
      <!--<div class="col-lg-2">
            <button class="btn btn-primary">
                @Html.ActionLink("Create Opportunity", "Create", "Opportunities", new { @class = "my-class" })
            </button>
        </div>-->
        <div class="col-lg-2">
            <button class="btn btn-primary">
                @Html.ActionLink("View Opportunities", "Index", "Opportunities", new { area = "" }, new { @class = "my-class" })
            </button>
        </div>
    </div>
</div>
